@media screen and (min-width: 0) {
  #subscribe form[name="subscriber"] {
    width: 100%;
  }

  #subscribe .form-wrapper {
    display    : flex;
    align-items: flex-end;
  }

  #subscribe .form-wrapper .form-group:first-child {
    flex: 1;
  }

  #subscribe .form-wrapper .form-group:first-child .form-control {
    border-top-right-radius   : 0;
    border-bottom-right-radius: 0;
  }

  #subscribe .form-wrapper .form-group:last-child .btn {
    border-top-left-radius   : 0;
    border-bottom-left-radius: 0;
  }
}