<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <!-- App CSS -->
        <style>
          @media screen and (min-width: 0) {
              * {
            box-sizing: border-box;
            margin    : 0;
            padding   : 0;
          }

          html {
            font-size: 1em;
          }

          .main {
            display       : flex;
            flex-direction: column;

            min-height: calc(100vh);
            height    : calc(100vh);
            max-height: calc(100vh);

            min-width: 100%;
            width    : 100%;
            max-width: 100%;

            overflow: hidden;
          }

            .background {
              height  : 100%;
              width   : 100%;
              position: absolute;
              top     : 0;
              left    : 0;
              z-index : 0;
              margin  : 0;
            }

            .background>img {
              height    : 100%;
              width     : 100%;
              object-fit: cover;
            }

            #subscribe {
              height          : 100%;
              width           : 100%;
              position        : relative;
              display         : flex;
              align-items     : center;
              justify-content : center;
              color           : #EEE;
              background-color: rgb(240, 240, 240);
              background-image: url('../img/paper-texture.png');
              padding         : 0;
            }

            #subscribe .container {
              position: relative;
              z-index : 1;
            }

            #subscribe form[name="subscriber"] {
              width: 100%;
            }

            #subscribe .form-wrapper {
              display    : flex;
              align-items: flex-end;
            }

            #subscribe .form-wrapper .form-group:first-child {
              flex: 1;
            }

            #subscribe .form-wrapper .form-group:first-child .form-control {
              border-top-right-radius   : 0;
              border-bottom-right-radius: 0;
            }

            #subscribe .form-wrapper .form-group:last-child .btn {
              border-top-left-radius   : 0;
              border-bottom-left-radius: 0;
            }
          }

          @media screen and (min-width: 768px) {
            .background>img {
              object-fit: contain;
            }
          }

          @media screen and (min-width: 992px) {
            #subscribe {
              font-size: 1.5rem;
            }
          }
        </style>
        <title>Subscribe now!</title>
    </head>
    <body>
      <main class="main">
        <section id="subscribe" class="container-fluid">
          <figure class="background">
            <img src="{{ email.image("@images/ovelhapole_B.png") }}" alt="pole dance figure">
          </figure>
          <div class="container" style="max-width:720px;">
            <h1>A pole dance quiz is coming soon!</h1>
            <p>
              To be notified of its release, click <a class="btn btn-primary" href="http://localhost:8000/subscribe/check/{{subscriber_id}}">here</a> <br />
              See you soon!
            </p>
          </div>
        </section>
      </main>
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>

